src/main/mule/muleesbproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a4466de3-af95-4de4-98c1-c34994eb0640" basePath="mypath">
		<http:listener-connection host="localhost" port="8065" />
	</http:listener-config>
	<flow name="muleesbprojectFlow1" doc:id="c7577b11-c62a-4dd4-8360-bbc2aa04f129" >
		<http:listener doc:name="HTTP" doc:id="2e4a1386-8ee2-4090-b243-5e3dc7d5f609" config-ref="HTTP_Listener_config" path="/request" allowedMethods="GET"/>
		
		<logger level="INFO" doc:name="Logger" doc:id="fbbec7c3-bf65-4ae7-bb47-d606666f7c8f" message="parametros #[attributes.queryParams]"/>
		<logger level="INFO" doc:name="Logger" doc:id="cf93b798-8921-4377-b35a-46143458897f" message="otra forma de ver los parametros #[message]" />

	</flow>
</mule>
